{% extends "base.html" %}
{% block content %}

<h3>Borrow Details (Admin)</h3>

<table class="table table-bordered mt-3">
<tr>
<th>User</th>
<th>Book</th>
<th>Borrow Date</th>
<th>Return Date</th>
<th>Status</th>
</tr>

{% for d in data %}
<tr>
<td>{{d.username}}</td>
<td>{{d.title}}</td>
<td>{{d.borrow_date}}</td>
<td>{{d.return_date}}</td>
<td>
{% if d.status == 'borrowed' %}
<span class="badge bg-warning">Borrowed</span>
{% else %}
<span class="badge bg-success">Returned</span>
{% endif %}
</td>
</tr>
{% endfor %}

</table>

{% endblock %}