{% extends "base.html" %}
{% block content %}

<h4>Add User</h4>

<form method="POST">
<input name="username" class="form-control mt-2">
<input name="password" class="form-control mt-2">
<select name="role" class="form-control mt-2">
<option value="user">User</option>
<option value="admin">Admin</option>
</select>
<button class="btn btn-success mt-2">Add</button>
</form>

<hr>

<h4>All Users</h4>
<table class="table">
{% for u in users %}
<tr>
    <td>
<a href="/delete_user/{{u.id}}" class="btn btn-danger btn-sm">Delete</a>
</td>
<td>{{u.username}}</td>
<td>{{u.role}}</td>
</tr>
{% endfor %}
</table>

{% endblock %}